<h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Posts</h1>

<hr class="mt-2 mb-5">

<table class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>User Id</th>
      <th>Title</th>
      <th>Options</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post["id"] %></td>
        <td><%= post["userId"] %></td>
        <td><%= post["title"] %></td>
        <td><%= link_to 'Show', api_v1_post_path(post["id"]) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @posts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
